/*SHOULD BE APPLIED TO EVERY PAGE*/

.icon {
    margin-right: 0.25em;
}

.container {
    max-width: 1024px;
}

.section {
    padding: 2rem 1.5rem;
}

hr {
    width: 90%;
    margin: 0px auto 0px auto;
}

.vline {
    border-left: 2px solid whitesmoke;
}

#github-icon {
   height: 34px;
   width: 34px;
}

.social-icon {
   height: 32px;
   width: 32px;
}

.panel {
    height: 100%;
}

.navbar {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}

/*CUSTOM*/

td {
    max-width:0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#fileTable {
    overflow: auto;
}

#files-panel {
    min-height: 300px;
}