
#newGuestForm {
    height: 100%;
    width: 100%;
}

input, .select, .control {
    margin-bottom: 0.8em;
}

#yourGuests {
    margin-left: auto;
    margin-right: auto;
}

.button-column {
    text-align: center !important;
}