
#newGuestForm {
    height: 100%;
    width: 100%;
}

input, .select, .control {
    margin-bottom: 0.8em;
}

#yourGuests {
    margin-left: auto;
    margin-right: auto;
}

.button-column {
    text-align: center !important;
}

.fc-today-button, 
.fc-today-button:disabled, 
.fc-today-button:hover, 
.fc-prev-button,
.fc-prev-button:disabled,
.fc-prev-button:hover,
.fc-next-button,
.fc-next-button:disabled,
.fc-next-button:hover {
    background-color: hsl(171, 100%, 41%);
    border-color: hsl(171, 100%, 41%);
}