
#welcomeMessage {
    margin-top: 2em;
}

.landing-button {
    color: white;
    /*height: 6em;*/
    /*margin-bottom: 3em;*/
    -webkit-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.35);
box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.35);
}

#landing-laundries {
    background-color: #e3c900;
    border-color: #e3c900;
}

#landing-guests {
    background-color: crimson;
    border-color: crimson;
}

#landing-files {
    background-color: #217537;
    border-color: #217537;
}

#landing-trello {
    background-color: #017ac2;
    border-color: #017ac2;
}

#building-img {
    margin-bottom: 1em;
}