
.time-label {
    vertical-align: middle;
}

input, .select {
    margin-bottom: 0.8em;
}

.button-column {
    text-align: center !important;
}

#errorMsgDiv {
    height: 1em;
}

#upcoming {
    margin-left: auto;
    margin-right: auto;
}

#newLaundryForm {
    height: 100%;
    width: 100%;
}