.item-purchased {
    text-decoration: line-through;
}

input[type='radio'] { 
    transform: scale(1.5);
}

.form-check > * {
    cursor: pointer;
}

.howto-text {
    font-size: 0.9em;
}

#add-new-item-button {
    background-color: #385D79;
    border-color: #385D79;
}